<form [ngFormModel]="form" (ngSubmit)="changePwd()">
  <div class="form-group">
    <label for="currentPwd">Current Password:</label>
      <input
        type="password"
        class="form-control"
        id="currentPwd"
        ngControl="currentPwd"
        #currentPwd="ngForm">
        <div
          *ngIf="currentPwd.touched && currentPwd.errors">
          <div
            *ngIf="currentPwd.errors.required"
            class="alert alert-danger">
            Current Password is required
          </div>

          <div
            *ngIf="currentPwd.errors.cannotContainSpace"
            class="alert alert-danger">
            Password cannot contain spaces.
          </div>

        </div>

  </div>

  <div class="form-group">
    <label for="newPwd">New Password:</label>
    <input
      type="password"
      class="form-control"
      id="newPwd"
      ngControl="newPwd"
      #newPwd="ngForm">
      <div
        *ngIf="newPwd.touched && newPwd.errors">

        <div
          *ngIf="newPwd.errors.required"
          class="alert alert-danger">
          New Password is required
        </div>

        <div
          *ngIf="newPwd.errors.cannotContainSpace"
          class="alert alert-danger">
          Password cannot contain spaces.
        </div>

      </div>
  </div>

  <div class="form-group">
    <label for="confirmPwd">Confirm Password:</label>
    <input
      type="password"
      class="form-control"
      id="confirmPwd"
      ngControl="confirmPwd"
      #confirmPwd="ngForm">
      <div
          *ngIf="confirmPwd.touched && !confirmPwd.valid"
          class="alert alert-danger">
          Confirm the password.
      </div>

        <div
            *ngIf="confirmPwd.touched && form.errors && form.errors.passwordMustMatch"
            class="alert alert-danger">
            Passwords don't match.
        </div>


  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
